@font-face {
    font-family:cyb ;
    src: url(../fonts/Turret_Road/TurretRoad-Bold.ttf);
    font-weight: 500 ;
}

@font-face {
    font-family: bar;
    src: url(../fonts/Libre_Barcode_39/LibreBarcode39-Regular.ttf);
    font-weight: 300;
}

@font-face {
    font-family: seri;
    src: url(../fonts/Rozha_One/RozhaOne-Regular.ttf);
    font-weight: 300;
}

nav {display:flex; justify-content: center; font-family: bar;position: relative; top:-140px}
nav a:hover {font-family: cyb; font-size: small; position: static;}
nav a {display:inline-block; padding-inline:25px; justify-content: center; text-align: center;color: #40c0f0;}
body {background-color: #151515}
header {text-align: center;font-size: 50px; font-weight: 600; font-family: cyb;color:aliceblue;filter: blur(0.5px);padding-top:0px;
    padding-bottom:0px}
.IdIm {display:inline-flex;justify-content: center;padding-left:2%;padding-right:5%;position:relative;top:-60px;
    background-color:#202020;padding-top: 10px;}
.IdIm a {padding-inline:25px;color:aliceblue;font-size:20.5px;font-family:'Times New Roman', Times, serif;}
.idout {display:flex;width:900px;justify-self: center;margin: auto;}
h2 {text-align: center; color: aliceblue; font-family: cyb; font-size: 45px; position: relative; top: -130px;bottom:-60px;}
.hidden {position: relative;width:0px;height:0px; rotate: 270deg;top:125px;right:900px;
    color:aliceblue;text-decoration:none;font-family: cyb;}
.headge {position: relative;top:-100px;}



